:root {
    --primary-color: #3498db; /* Main color for the app */
    --secondary-color: #2ecc71; /* Secondary color, e.g., for buttons or accents */
    --background-color: #ecf0f1; /* Background color for the entire app */
    --text-color: #333; /* Main text color */
    --accent-color: #e74c3c; /* Accent color for alerts or important information */
    --success-color: #27ae60; /* Success color, e.g., for successful actions */
    --warning-color: #f39c12; /* Warning color, e.g., for alerts or caution */
    --info-color: #3498db; /* Information color, e.g., for informational messages */
    --border-color: #bdc3c7; /* Border color for separating elements */
  }

  @import '~@fortawesome/fontawesome-free/css/all.css';

  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--primary-color);
    color: white;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 1rem;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: var(--secondary-color);
}



.primary-button,
.secondary-button {
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.primary-button {
    background-color: var(--secondary-color);
    color: white;
}

.secondary-button {
    background-color: transparent;
    color: white;
    
}

.primary-button:hover,
.secondary-button:hover {
    background-color: var(--accent-color);
}


.footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 1rem;
  width: 100%;
  bottom: 0;
}

.footer p {
  margin: 0;
}


/* Updated CSS with Media Query for Small Screens */
@media screen and (max-width: 767px) and (min-width: 320px)
 {
    

    .nav-links li a span{
      display: none;
    }
    .nav-links li a{
      margin-left: 0;
      padding: 20px;
    }
    .buttons{
      position: relative;
      display: flex;
      justify-content: flex-start;
      margin-left: 0;
     
    }
    .secondary-button{  
      margin-left: 0;

    }
  
    .nav-links {
      display: flex;
      justify-content: space-between;
     
    }
    
  
   
  
    .logo {
      margin-bottom: 1rem;
    }
  
   
    .footer {
      font-size: 14px;
    }
  
  }
  
    
  